/* FONT ID */
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');
/* FONT GERAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

#header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #FFFFFF;
    position: fixed;
    top: 0;
    transition: background-color 1s ease;
}

.containerh {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.botao-header {
    padding: 10px;
    border-radius: 5em;
    border: 2px solid #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    background-color: transparent;
    color: #FFFFFF;
}

.botao-header:hover {
    cursor: pointer;
    color: orange;
    border-color: orange;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.clicavel:hover {
    color: orange;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
}

.fundo {
    width: 100%;
    height: 800px;
}

.contagem {
    display: flex;
    position: absolute;
    width: 100vw;
    align-items: end;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    font-size: 48px;
    color: white;
    background-color: rgb(0,0,0,0.5);
}

.dias b, .horas b, .minutos b, .segundos b{
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.dias p, .horas p, .minutos p, .segundos p{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sobre {
    background-color: #7e4842;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 100px 200px;
    gap: 100px;
    color: white;
    font-size: 24px;
}

.texto-sobre {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    gap: 50px;
}

.imagem-sobre {
    width: 30%;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.5);
}

.sobre h1 {
    padding: 5px;
    border-bottom: 3px solid #FFFFFF;
    font-weight: 800;
}

.sobre p {
    width: 75%;
    font-weight: 200;
}

#local {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #7e4842;
    background-color: #ddd0cc;
}

#local h1 {
    border-bottom: 3px solid #7e4842;
    font-weight: 800;
    font-size: 48px;
}

#local iframe{
    /* height: 300px; */
    width: 100%;
    box-shadow: 20px 20px 30px #7e4842;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    width: 100%;
    gap: 20px;
    background-image: url(./imgs/fundocontato.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
}

footer {
    display: flex;
    width: 100%;
    background-color: #7e4842;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-weight: 100;
    color: white;
}

.main-inscricao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 200px;
    gap: 100px;
    background-image: url(./imgs/fundoinscricao.png);
    background-size: cover;
    background-position: center;
}

.inscricao {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
}

.text-inscricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.text-inscricao h1 {
    display: flex;
    font-weight: 800;
    align-items: center;
    gap: 10px;
}

.text-inscricao img {
    width: 5%;
}

.text-inscricao p {
    font-weight: 200;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #7e4842;
    padding: 50px;
    border-radius: 20px;
    color: white;
}

.formulario h1 {
    font-weight: 800;
    padding: 10px;
    border-bottom: 3px solid #FFFFFF;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.parteum, .partedois {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    align-items: left;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

input[type="text"], input[type="number"], input[type="email"], select {
    border: none;
    border-bottom: 2px solid #fff;
    padding: 10px;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 200;
}

select option {
    background-color: #ddd0cc;
    color: #7e4842;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus {
    border-bottom-color: #ddd0cc;
}

.botao-enviar {
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    color: #7e4842;
    font-size: 24px;
    background-color: white;
    box-shadow: 1px 1px 20px #ddd0cc;
}

.botao-enviar:hover {
    cursor: pointer;
    transform: scale(1.02);
}

@media screen and (max-width: 768px) {
    /* PRIMEIRA PAGINA */
    #header {
        font-size: 8px;
        padding: 10px;
    }
    #header h1 {
        font-size: 12px;
    }
    .botao-header {
        font-size: 12px;
    }
    .fundo {
        width: 100%;
        height: auto;
    }
    .contagem {
        font-size: 24px;
    }
    .dias p, .horas p, .minutos p, .segundos p {
        font-size: 12px;
    }
    .sobre {
        padding: 70px 20px;
        flex-direction: column;
        font-size: 14px;
        gap: 40px;
    }
    .texto-sobre {
        gap: 15px;
        text-align: justify;
    }
    .sobre h1 {
        font-size: 24px;
        text-align: left;
    }
    .sobre p {
        width: 100%;
    }
    .imagem-sobre {
        width: 100%;
    }
    #local {
        padding: 70px 0;
    }
    #local h1 {
        font-size: 24px;
    }
    #local iframe {
        height: 300px;
    }
    .contato {
        background-repeat: repeat;
    }
    .contato iframe {
        width: 95%;
        height: 1400px;
    }
    footer {
        font-size: 14px;
    }
    /* FIM PRIMEIRA PAGINA */
    /* SEGUNDA PAGINA */
    .main-inscricao {
        flex-direction: column;
        padding: 70px 0;
    }
    .inscricao {
        width: 90%;
    }
    .text-inscricao {
        text-align: justify;
    }
    .text-inscricao h1 {
        justify-self: center;
    }
    .text-inscricao img {
        width: 10%;
    }
    .formulario {
        width: 90%;
        padding: 30px 20px;
        gap: 20px;
    }
    .formulario h1 {
        font-size: 14px;
        padding: 10px 0;
    }
    form {
        flex-direction: column;
        gap: 10px;
    }
    .partedois, .parteum {
        gap: 10px;
    }
    label {
        font-size: 16px;
    }
    input[type="text"], input[type="number"], input[type="email"], select {
        font-size: 14px;
    }
    .botao-enviar {

    }
}