@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 100;
}

/* TELA 1 PC */

.tela1 {
    background-image: url(./imgs/fundo_pagina_pc.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.text-tela1 {
    text-align: center;
    font-size: 64px;
}

.botao-tela1 {
    color: white;
    font-family: "Montserrat";
    font-size: 40px;
    padding: 20px 50px;
    border-radius: 22px;
    background: linear-gradient(135deg, rgb(234, 50, 50, 100) , rgb(166, 29, 29, 100));
    border-style: solid;
    border-color: white;
    border-top-style: none;
    border-left-style: none;
}

.botao-tela1:hover{
    cursor: pointer;
    transform: rotate3d(5, 5, 5, 5deg);
}

/* TELA 2 PC */

.tela2 {
    background-image: url(./imgs/fundo_pagina_pc.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.text-tela2 {
    text-align: center;
    font-size: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.red {
    color: #EA3232;
}

.botao-tela2 {
    color: white;
    font-family: "Montserrat";
    font-size: 40px;
    padding: 20px 50px;
    border-radius: 22px;
    background: linear-gradient(135deg, rgb(234, 50, 50, 100) , rgb(166, 29, 29, 100));
    border-style: solid;
    border-color: white;
    border-top-style: none;
    border-left-style: none;
}

.botao-tela2:hover{
    cursor: pointer;
    transform: rotate3d(5, 5, 5, 5deg);
}

.text2-tela2 {
    font-size: 32px;
    letter-spacing: 15px;
}

/* TELA 3 PC */

.tela3 {
    background-image: url(./imgs/fundo_pagina_pc.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-size: 50px;
    letter-spacing: 15px;
    text-align: center;
}

.images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

img {
    width: 60%;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-top-style: none;
    border-left-style: none;
    opacity: 0.5;
    margin: 0;
}

img:hover {
    opacity: 1;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* TELA 4 PC */

.tela4 {
    background-image: url(./imgs/fundo_pagina4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-tela4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 400px;
}

.contagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35%;
    gap: 5%;
    font-size: 80px;
}

.dias, .horas, .minutos, .segundos{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

p {
    font-size: 42px;
    text-align: center;
}

/* CELULAR */

@media (max-width: 600px) {
    /* TELA 1 */
    .tela1 {
        background-image: url(./imgs/tela\ 1\ cel.svg);
        gap: 10%;
    }
    .text-tela1 {
        width: 65%;
        font-size: 24px;
    }
    .botao-tela1 {
        font-size: 20px;
    }

    /* TELA 2 */
    .tela2 {
        background-image: url(./imgs/tela\ 1\ cel.svg);
        gap: 10%;
    }
    .text-tela2 {
        text-align: center;
        width: 100%;
        font-size: 24px;
        flex-direction: row;
    }
    .botao-tela2 {
        font-size: 15px;
    }
    .text2-tela2 {
        width: 80%;
        font-size: 24px;
        text-align: center;
    }

    /* TELA 3 */
    .tela3 {
        height: 100vh;
        background-image: url(./imgs/tela\ 1\ cel.svg);
        font-size: 24px;
        flex-direction: row;
        gap: 0px;
    }
    .text-tela3 {
        position: absolute;
    }
    .images {
        width: 100%;
        flex-direction: column;
        gap: 25px;
    }
    a {
        width: 100%;
    }
    img {
        width: 75%;
        opacity: 0.2;
    }

    /* TELA 4 */
    .tela4 {
        background-image: url(./imgs/tela\ 3\ cel.svg);
    }
    .text-tela4 {
        font-size: 136px;
    }
    .contagem {
        width: 100%;
        font-size: 24px;
    }
    .dias, .horas, .minutos, .segundos{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    p {
        font-size: 20px;
        text-align: center;
    }
}
